# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.user
*.suo

# --- Logs ---
*.log

# --- Backend (.NET) ---
**/bin/
**/obj/
**/.vs/
**/*.pdb

# --- Frontend (Angular) ---
**/node_modules/
**/dist/
**/.angular/
**/.cache/

# --- Env files / secrets ---
.env
.env.*
**/appsettings.*.json
!**/appsettings.json

# --- Docker ---
**/*-volume/
