<div class="container">

    <!-- FORM -->
    <section class="card">
        <h2>Novo Agendamento</h2>

        <form [formGroup]="form" (ngSubmit)="saveAppointment()">

            <div class="row">
                <input type="date" formControlName="date" />
                <input type="time" formControlName="time" />
            </div>

            <div class="row">
                <input type="number" placeholder="Duração (min)" formControlName="durationMinutes" />
            </div>

            <div class="row">
                <input type="text" placeholder="Nome do cliente" formControlName="customerName" />
            </div>

            <div class="row">
                <input type="text" placeholder="Telefone" formControlName="customerPhone" />
            </div>

            <button type="submit">
                {{ editingId ? 'Salvar alterações' : 'Agendar' }}
            </button>


            <div class="error" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>

        </form>
    </section>

    <!-- AGENDA -->
    <section class="card">
        <h2>Agenda do Dia</h2>

        <div *ngIf="loading">Carregando...</div>

        <div *ngIf="!loading && appointments.length === 0" class="empty">
            Nenhum agendamento para hoje.
        </div>

        <ul class="agenda" *ngIf="appointments.length > 0">
            <li *ngFor="let a of appointments" class="agenda-item">
                <div class="time">{{ formatTime(a.date) }}</div>

                <div class="info">
                    <strong>{{ a.customerName }}</strong>
                    <span>{{ a.durationMinutes }} min</span>
                </div>

                <div class="actions">
                    <button (click)="editAppointment(a)">✏️</button>
                    <button (click)="deleteAppointment(a.id)">🗑️</button>
                </div>
            </li>

        </ul>

    </section>

</div>