<div class="container">

    <!-- FORM -->
    <section class="card">
        <h2>Novo Agendamento</h2>

        <form [formGroup]="form" (ngSubmit)="saveAppointment()">

            <div class="row">
                <input type="date" formControlName="date" />
                <input type="time" formControlName="time" />
            </div>

            <div class="row">
                <input type="number" placeholder="Duração (min)" formControlName="durationMinutes" />
            </div>

            <div class="row">
                <input type="text" placeholder="Nome do cliente" formControlName="customerName" />
            </div>

            <div class="row">
                <input type="text" placeholder="Telefone" formControlName="customerPhone" />
            </div>

            <button type="submit">
                {{ editingId ? 'Salvar alterações' : 'Agendar' }}
            </button>


            <div class="error" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>

        </form>
    </section>

    <!-- AGENDA -->
    <section class="card">
        <h2>Agenda do Dia</h2>

        <div *ngIf="loading">Carregando...</div>

        <div *ngIf="!loading && appointments.length === 0" class="empty">
            Nenhum agendamento para hoje.
        </div>

        <ul class="agenda" *ngIf="appointments.length > 0">
            <li *ngFor="let a of appointments" class="agenda-item">
                <div class="time">{{ formatTime(a.date) }}</div>

                <div class="info">
                    <strong>{{ a.customerName }}</strong>
                    <span>{{ a.durationMinutes }} min</span>
                </div>

                <div class="actions">
                    <button (click)="editAppointment(a)">✏️</button>
                    <button (click)="openDeleteModal(a)">🗑️</button>
                </div>
            </li>

        </ul>

    </section>

</div>

<!-- MODAL BACKDROP -->
<div class="modal-backdrop" *ngIf="appointmentToDelete">

    <div class="modal">
        <h3>Cancelar agendamento</h3>

        <p>
            Deseja cancelar o agendamento de
            <strong>{{ appointmentToDelete.customerName }}</strong>
            às
            <strong>{{ formatTime(appointmentToDelete.date) }}</strong>?
        </p>

        <div class="modal-actions">
            <button class="danger" (click)="confirmDelete()">
                Cancelar agendamento
            </button>

            <button class="secondary" (click)="closeDeleteModal()">
                Voltar
            </button>
        </div>
    </div>

</div>